/* 
css for icons
*/

.sm-icons {
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    z-index: 100;
}

.sm-icons ul{
    padding: initial;
    margin: 0px;
    padding: 0px;
}

.sm-icons ul li {
    list-style-type: none;
    max-height: 50px;
    max-width: 50px;
    margin-top: 7px;
    line-height: 50px;
    padding-left:16px;
    padding-right:20px
}

.sm-icons .fa {
    color: #fff;
    font-size: 17px;
}
.sm-icons .fa-brands {
    color: #fff;
    font-size: 17px;
}

/* Added only when icons position is :right */
.icons-right:hover {       
    padding-left: 25px;
    transition: 0.5s ease;
    border-radius: 10px 0px 0px 10px;
}

/* Added only when icons position is :left */
.icons-left:hover {    
    max-width: 60px;
    padding-left: 30px;
    transition: 0.5s ease;
    border-radius: 0px 10px 10px 0px;
}

.facebook {
    background: #3B5998;
}

.twitter {
    background-color: #00ACED;
}

.youtube {
    background-color: #ff0000;
}

.instagram {
    background-color: #FB3958;
}

.quora {
    background-color:#a82400;
}

.tumblr {
    background-color:#32506d;
}

.linkedin {
    background-color:#007bb6;
}

.pinterest {
    background-color:#cb2027;
}

.telegram {
    background-color:#0088cc ;
}